/* google fonts linkup */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.primary-text{
    color: #FD6E0A;
}

.primary-btn{
    border: 0;
    border-radius: 5px;
    background-color: #FD6E0A;
    padding: 20px 38px;
    transition:  background-color 2s linear;
}

.white-btn{
    color: #fff;
}

.section-title{
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}

.section-description{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: center;
}

.border{
    border-bottom: 1px solid #D1D1D1;
}

/* header section styles  */
header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* navigation section styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
}

nav .nav-title{
    font-size: 45px;
    font-weight: 800;
}

nav ul {
    display: inline-flex;
}

nav ul li{
    margin-right: 15px;
    padding: 20px;
}

nav ul li:hover a{
    color: #000;
}

nav ul li:hover .primary-btn{
    background-color: #dd5c00;
    transition:  background-color 2s linear;
}

nav ul li a{
    color: rgb(68, 68, 68);
    font-size: 20px;
    font-weight: 400;
}

/* banner section styles */
.banner{
    display: flex;
    align-items: center;
}

.banner-sub-title{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 12px;
}

.banner-title{
    color: #181818;
    font-size: 54px;
    font-weight: 800;
    margin-bottom: 20px;
}

.banner-description{
    color:#757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7;
    margin-bottom: 50px;
}

.banner-content a{
    font-size: 20px;
    font-weight: 700;
    margin-right: 30px;
}

.fa-download,
    .fa-phone{
    margin-right: 8px;
}

.secondary-btn{
    color: #FD6E0A;
    padding: 20px 25px;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
}

.banner img{
    width: 100%;
    height: 100%;
}

/* about section styles  */
.about{
    text-align: center;
    margin-top: 130px;
    padding: 130px 155px;
    background-color: #FFF8F3;
    border-radius: 15px;
    border: 1px solid #FFF8F3;
}

.about .about-info-container{
    display: flex;
    justify-content: space-around;
}

.about-info .info-title{
    color: #757575;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 12px;
}

.about-info .info-description{
    color: #474747;
    font-size: 20px;
    font-weight: 600;
}

/* what-i-do section styles */
.what-i-do{
    margin-top: 130px;
}

.skills-container{
    display: flex;
    gap: 35px;
    margin-top: 60px;
}

.skills{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    padding: 30px;
}

.skill-title{
    color: #181818;
    font-size: 20px;
    font-weight: 700;
    margin: 30px 0 20px;
}

.skill-description{
    color: #757575;
}

/* resume section styles */
.resume{
    margin-top: 130px;
}

.resume-context-container{
    display: flex;
    gap: 50px;
    margin-top: 100px;
}

.resume-item-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 10px;
}

.sub-title{
    color:  #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.description{
    color: #757575;
    margin-bottom: 30px;
}

.resume-button{
    margin-top: 50px;
    text-align: center;
}

/* contact section styles  */
.contact{
    margin-top: 130px;
    background-color: #FFF8F3;
}

.contact-container{
    display: flex;
    gap: 115px;
    padding: 130px 0px;
}

.contact .section-title,
.contact .section-description{
    text-align: left;
}

.contact .section-description{
    margin-bottom: 18px;
}

.social-icon a{
    color: #FD6E0A;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 800;
}

.contact input[type="text"],
input[type="email"],
textarea{
height: 35px;
width: 100%;
padding: 18px 30px;
margin-bottom: 24px;
border: 0;
border-radius: 5px;
}

/* footer section styles */
footer p{
    margin: 50px 0 30px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}